@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-serif: "Times New Roman", Times, serif;
  --font-sans: "Inter", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --font-mono: "JetBrains Mono", "Courier New", Courier, monospace;
}

@layer base {
  body {
    background-color: #090908;
    color: #dcc57b;
    overflow-x: hidden;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

::selection {
  background: #dcc57b;
  color: #090908;
}

